.arraySlot {
  border-right: 2px solid var(--color-text-muted);
  border-left: 2px solid var(--color-text-muted);

  height: 100%;
  position: relative;
  text-align: center;
  &:hover {
    background-color: var(--color-accent-green);
    cursor: pointer;
  }
}

.highlightSlot {
  background-color: var(--color-accent-orange);
}

.unHighlightSlot {
  transition: all 1s ease-in;
  background-color: inherit;
}

.slotIdx {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  transform: translateY(-100%);
}

.arrayVi {
  height: 2rem;
  border: 2px solid var(--color-text-muted);
  color: var(--color-text-primary);
  display: flex;
  position: relative;
}
